@charset "utf-8";
@font-face{
    font-family: Fredoka One;
    src: url()
}
html{
    background-color: red;
}
body{
    margin-left:auto;
    margin-right:auto;
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    background-color:red;
    font-family: 
}
body > header > img {
    display: block;
    width: 100%;
}
a{
    color: darkgray;
}
a :hover{
    color: white;
}
div.row{
    display: block;
    background-color:
}